<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.lawrencehallofscience.*"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Healthy Lakes</name>

    <description>
        A decision-based interactive on whether images are indicative of a healthy or unhealthy lake
    </description>

    <author>
        Lawrence Hall of Science
    </author>


</widget>